.example-spacer{
  flex:1 1 auto;
}

body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 7;
  overflow-x: hidden;
  padding-top: 1px;
}

.left {
  left: 0;
  background-color: white;
  padding: 5%;
  line-height:20px;
}

.right {
  right: 0;
  margin-left: 4px;
  text-align: left;
  background-color:white;
}

.centered {
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.example-card{
  text-align: left;
  right:55%;
  width:200%;
  min-width: 80%;
  float: left;
 
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 3px;
  
}

tr:nth-child{
  background-color: #dddddd;
}