<!--<app-signup></app-signup> -->
<!--<app-login></app-login>-->
<!--<app-stepper-signup> </app-stepper-signup>-->
 <!--<router-outlet></router-outlet> -->
<!--<app-home></app-home> 
<app-newhome></app-newhome>
<app-newhome></app-newhome>-->
 <!--<router-outlet></router-outlet>
<app-postmeal></app-postmeal> 

<app-newpostmeal></app-newpostmeal>-->
 <!--<app-header></app-header>  
<router-outlet></router-outlet>-->
 <!--<app-footer></app-footer> 
 <app-viewdetails></app-viewdetails>
  <app-profile></app-profile>
 <router-outlet></router-outlet>-->

 <router-outlet></router-outlet>
