<div class="bg">
        <form [formGroup]="registrationform" (ngSubmit)="onSubmit()">
        
        <div *ngIf="showMainContent" class="container"  >
               
                <mat-form-field floatLabel="auto" appearance="standard" color="primary">
                        <mat-label >First Name</mat-label>
                        <input matInput type="text" formControlName="firstname" [class.is-invalid]="fname.invalid&&fname.touched">
                        <!--first name vaildation and form-->
                        <div *ngIf="fname.invalid&&fname.touched">
                            <small *ngIf="fname.errors?.required" class="text-danger">Firstname is required</small>
                            </div>
                        <!---->
                        </mat-form-field><br/>
                    <mat-form-field floatLabel="auto" appearance="standard" color="primary"  >
                        <mat-label >Last Name</mat-label>
                        <input matInput type="text" formControlName="lastname" [class.is-invalid]="lname.invalid&&lname.touched">
                        <!---->
                        <div *ngIf="lname.invalid&&lname.touched">
                            <small *ngIf="lname.errors?.required" class="text-danger">Lastname is required</small>
                            </div>
                        <!---->
                        </mat-form-field><br/>
                    <mat-form-field floatLabel="auto" appearance="standard" color="primary">
                        <mat-label >Email</mat-label>
                        <input type="email" matInput formControlName="email" [class.is-invalid]="email.invalid&&email.touched">
        
                    <div *ngIf="email.errors?.required&&email.invalid&&email.touched">
                            <small class="text-danger">Email ID is required</small>
                            </div>
        
                            <div *ngIf="email.errors?.pattern&&email.invalid&&email.touched">
                            <small class="text-danger">Enter valid email id only</small>
                            </div>
        
                        </mat-form-field><br/>
                        
        <mat-form-field floatLabel="auto" appearance="standard" color="primary">
                        <mat-label >Mobile No.</mat-label>
               
                    <input type="tel" matInput formControlName="mobileno" [class.is-invalid]="mobile.invalid&&mobile.touched"> 
        
                    
                    <div *ngIf="mobile.errors?.required&&mobile.invalid&&mobile.touched">
                    <small class="text-danger">Mobile No. is required</small>
                    </div>
                    <div *ngIf="mobile.errors?.minlength&&mobile.invalid&&mobile.touched">
                    <small class="text-danger">8 digit is required</small>
                    </div>
                    <div *ngIf="mobile.errors?.pattern&&mobile.invalid&&mobile.touched">
                    <small class="text-danger">Enter numbers only</small>
                    </div>
                    <!---->
                        </mat-form-field><br/>
                        <mat-label >Gender</mat-label>
                        <mat-radio-group aria-label="Gender" color="primary" labelposition="before" name="gender" formControlName="gender">
                            <mat-radio-button value="1">Male</mat-radio-button>
                            <mat-radio-button value="2">Female</mat-radio-button>
                            </mat-radio-group><br> 
                    <mat-form-field>
                    <mat-label >DOB</mat-label>
                    <input matInput type="date" placeholder="Enter date" formControlName="dob">
                    </mat-form-field><br>
                    <mat-form-field floatLabel="auto" appearance="standard" color="primary">
                        <mat-label >Password</mat-label>
                        <input type="password" matInput formControlName="password" [class.is-invalid]="password.invalid&&password.touched">
                        
                        <!---->
                        <div *ngIf="password.errors?.required&&password.invalid&&password.touched">
                            <small class="text-danger">Password is required</small>
                            </div>
        
                            <div *ngIf="password.errors?.minLength&&password.invalid&&password.touched">
                            <small class="text-danger">8 characters required</small>
                            </div>
                        <!---->
                        </mat-form-field><br/>
                    <mat-form-field floatLabel="auto" appearance="standard" color="primary" >
                        <mat-label >Retype Password</mat-label>
                        <input type="password" matInput formControlName="confirmpassword"  [class.is-invalid]="confirmpassword.invalid&&confirmpassword.touched" (keydown.tab)="checkpass()">
                        
                        <!---->
                        <div *ngIf="confirmpassword.errors?.required&&confirmpassword.invalid&&confirmpassword.touched">
                                <small class="text-danger">Confirm Password is required</small>
                                </div>
                       <!-- <div *ngIf="(registrationform.value.password !== registrationform.value.confirmpassword) && confirmpassword.touched && confirmpassword.invalid">
                            <small class="text-danger">Password mismatch</small>
                            </div>-->
                            <!--new-->
                            <div *ngIf="iserror1">
                                <small class="text-danger">Password mismatch</small>
                                </div>
        
                            <!---->
                        </mat-form-field><br/>
                    
        
            <button mat-raised-button color="primary" (click)="ShowHideButton()">Next</button>
        
          </div>
          <div *ngIf="!showMainContent" class="container">
                <div formGroupName="address">
                        <mat-form-field floatLabel="auto" appearance="standard" color="primary" >
                            <mat-label >Block No.</mat-label>
                            <input type="text" matInput formControlName="block" [class.is-invalid]="block.invalid&&block.touched">
                            <div *ngIf="block.invalid&&block.touched">
                                <small *ngIf="block.errors?.required" class="text-danger">Block No. is required</small>
                                </div>
                            <!---->
                            </mat-form-field><br/>
                        <mat-form-field floatLabel="auto" appearance="standard" color="primary" >
                            <mat-label>Floor No.</mat-label>
                            <input matInput type="text" formControlName="floor" [class.is-invalid]="floor.invalid&&floor.touched">
                            <div *ngIf="floor.invalid&&floor.touched">
                                <small *ngIf="floor.errors?.required" class="text-danger">Floor number is required</small>
                                </div>
                            <!---->
                            </mat-form-field><br/>
                        <mat-form-field floatLabel="auto" appearance="standard" color="primary">
                            <mat-label >Unit No.</mat-label>
                            <input type="text" matInput formControlName="unit" [class.is-invalid]="unit.invalid&&unit.touched">
                            <div *ngIf="unit.invalid&&unit.touched">
                                <small *ngIf="unit.errors?.required" class="text-danger">Unit No. is required</small>
                                </div>
        
                            </mat-form-field><br/>
        
        <mat-form-field floatLabel="auto" appearance="standard" color="primary">
                            <mat-label >Building Name</mat-label>
                            <input type="text" matInput formControlName="building" [class.is-invalid]="building.invalid&&building.touched">
                            <div *ngIf="building.invalid&&building.touched&&building.errors?.required" >
                                <small class="text-danger">Building Name is required</small>
                                </div>
                            <!---->
                            </mat-form-field><br/>
                        <mat-form-field floatLabel="auto" appearance="standard" color="primary">
                        <mat-label >Street Name</mat-label>
                        <input type="text" matInput formControlName="streetname" [class.is-invalid]="streetname.invalid&&streetname.touched">
                        <div *ngIf="streetname.invalid&&streetname.touched">
                            <small *ngIf="streetname.errors?.required" class="text-danger">Street name is required</small>
                            </div>
                        <!---->
                        </mat-form-field><br/>
                        <mat-form-field floatLabel="auto" appearance="standard" color="primary">
                            <mat-label >PostCode</mat-label>
                            <input type="text" matInput formControlName="postcode" [class.is-invalid]="postcode.invalid&&postcode.touched">
                            <div *ngIf="postcode.invalid&&postcode.touched">
                                <small *ngIf="postcode.errors?.required" class="text-danger">Postcode is required</small>
                                </div>
                            <!---->
                            </mat-form-field><br/>
                                           
        </div>
        
        
        
            <button mat-raised-button color="primary" (click)="ShowHideButton()">Previous</button>
           
                    <button  mat-raised-button color="primary" (click)="[checkValid()]">REGISTER</button>
                    
                  
          </div>
        </form>
        </div>